/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-abr-2019, 8:44:01
    Author     : Enrique de las Cueva
*/


#cabecera{
    background-color: lightblue;
    
    padding: 10px;
    margin-bottom: 1%;
}

.login{
    background-color: #6699cc;
    
    border-radius:15px;
    
    padding-top: 1%;
    
    height: 531px;

    
}

.cambiar1{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px; 
}

.fl-left{
    float: left;
}


#registro{
    color: white;
    margin-left: 3%;
}

#logo{
    margin: 1%;
}

#cabecera{
    margin: 2% 0%;
    margin-top:1%;
}
#usuario, #password{
    
}
