/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-may-2019, 11:30:37
    Author     : Enrique de las Cueva
*/
#cabecera{
    background-color: lightblue;
    
    padding: 10px;
    margin-bottom: 1%;
}

.fl-left{
    float: left;
}

.form-control{
       width: 90%; 
    }
    
#conducesi{
    margin-left: 10px;
}


.marginb15px{
    margin-bottom: 15px;
    
}

label{
    width: 40%;
}

.errorLabel{
    color: red;
}