#cabecera{
    background-color: lightblue;
    
    padding: 10px;
    margin-bottom: 1%;
}

.fl-left{
    float: left;
}

.form-control{
       width: 90%; 
    }
    
#conducesi{
    margin-left: 10px;
}


.marginb15px{
    margin-bottom: 15px;
    
}

label{
    width: 90%;
}

.errorLabel{
    color: red;
}